@font-face {
    font-family: 'mnmliconsRegular';
    src: url('../../../static/icons/mnmliconsv21-webfont.eot');
    src: url('../../../static/icons/mnmliconsv21-webfont.eot?#iefix') format('eot'),
         url('../../../static/icons/mnmliconsv21-webfont.woff') format('woff'),
         url('../../../static/icons/mnmliconsv21-webfont.ttf') format('truetype'),
         url('../../../static/icons/mnmliconsv21-webfont.svg#webfont5XBFMzrm') format('svg');
    font-weight: normal;
    font-style: normal;
}
.i {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}

