<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <absolute-ordering>
        <!-- Empty absolute ordering is necessary to completely disable classpath scanning -->
    </absolute-ordering>
    <display-name>Paster Application</display-name>
    <distributable/>

    <!--
        context parameters
     -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring/app-main.xml,classpath:/spring/app-setup.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>i18n.messages</param-value>
    </context-param>

    <!-- listeners -->
    <listener>
        <listener-class>com.Ox08.paster.webapp.startup.SystemPropertiesListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>com.Ox08.paster.webapp.startup.StartupListener</listener-class>
    </listener>

    <!-- filters -->
    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>springSecurityFilterChain</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>etagFilter</filter-name>
        <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
    </filter>
    <filter>
        <filter-name>pasterForwarder</filter-name>
        <filter-class>com.Ox08.paster.webapp.web.PasterUrlForwarder</filter-class>
    </filter>

    <!-- filter mappings -->
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>etagFilter</filter-name>
        <servlet-name>dispatcher</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>pasterForwarder</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- servlets -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.H2ConsoleExtendedServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/main/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/act/admin/dbconsole/*</url-pattern>
    </servlet-mapping>

    <!-- session configuration -->
    <session-config>
        <session-timeout>120</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <!--secure>true</secure-->
            <max-age>3600</max-age>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/main/error/404</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/main/error/403</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/main/error/401</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/main/error/500</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/main/error/500</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>

    <request-character-encoding>UTF-8</request-character-encoding>
</web-app>
