<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010 alex <me@alex.0x08.org>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Paster Application</display-name>
    <distributable/>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring/app-main.xml</param-value>
    </context-param>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>


    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>springSecurityFilterChain</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

  

 <filter>
        <filter-name>rewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>log4j</param-value>
        </init-param>
    </filter>


<!--filter>
        <filter-name>responseCacheFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.ResponseCacheFilter</filter-class>
 </filter-->
<filter>
        <filter-name>compressionFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CompressionFilter</filter-class>
        <init-param> 
                <param-name>compressionThreshold</param-name>
                <param-value>1024</param-value> <!-- compress anything above 1kb -->
        </init-param>
        <init-param> 
                <param-name>ignoreURLPattern</param-name>
                <param-value>.*\.(flv|mp3|mpg)</param-value> <!-- regex -->
        </init-param>
        <init-param> 
                <param-name>ignoreMimes</param-name>
                <param-value>images/*,video/*, multipart/x-gzip</param-value> <!-- ignore -->
        </init-param>
        <init-param> 
                <param-name>ignoreUserAgentsPattern</param-name>
                <param-value>.*MSIE.*</param-value> <!-- regex -->
        </init-param>
 </filter>

 <filter>
  <filter-name>etagFilter</filter-name>
    <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
</filter>


    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

 <filter-mapping>
   <filter-name>compressionFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>
 
 
<!--filter-mapping>
   <filter-name>responseCacheFilter</filter-name>
   <url-pattern>/main/assets/*</url-pattern>
   <url-pattern>/main/static/*</url-pattern>
 </filter-mapping-->

 
<filter-mapping>
  <filter-name>etagFilter</filter-name>
  <servlet-name>dispatcher</servlet-name>
</filter-mapping> 

    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>rewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>uber.paste.startup.SystemPropertiesListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>uber.paste.base.UserSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>uber.paste.startup.StartupListener</listener-class>
    </listener>
   

    <servlet>
        <servlet-name>JSCSSMergeServlet</servlet-name>
        <servlet-class>com.googlecode.webutilities.servlets.JSCSSMergeServlet</servlet-class>
        <!-- This init param is optional and default value is minutes for 7 days in future. --> 
        <init-param>
                <param-name>expiresMinutes</param-name>
                <param-value>14400</param-value> <!-- 10 days -->
        </init-param>
        <!-- This init param is also optional and default value is 'public'.-->
        <init-param>
                <param-name>cacheControl</param-name>
                <param-value>public</param-value> 
        </init-param>
 </servlet>
   
    
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>        
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
       
    </servlet>

    <!--servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet-->

    <servlet>
        <servlet-name>OpenIDServlet</servlet-name>
        <servlet-class>uber.paste.openid.OpenIDAuthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>



   
    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.H2ConsoleExtendedServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/act/admin/dbconsole/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OpenIDServlet</servlet-name>
        <url-pattern>/act/openid-login</url-pattern>
    </servlet-mapping>

    

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/main/*</url-pattern>
    </servlet-mapping>

    


    <!--servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping-->


    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/404.jsp</location>
    </error-page>
 
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/pages/403.jsp</location>
    </error-page>
 
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/pages/500.jsp</location>
    </error-page>
    
    <!--jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config-->    
    
</web-app>
