
<configuration>

    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{MMM dd yyyy HH:mm:ss,SSS} %-5p %c - %msg%n</Pattern>
        </layout>  
    </appender>  
    <!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	
        <layout class="ch.qos.logback.classic.PatternLayout">
	
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
	
        </layout>
	
        <file>${app.home}/app.log</file>
	
        <append>true</append>
	
        <triggeringPolicy
	
                        class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	
            <MaxFileSize>1000KB</MaxFileSize>
	
        </triggeringPolicy>
	
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	
            <FileNamePattern>app.%i.log.zip</FileNamePattern>
	
            <MinIndex>1</MinIndex>
	
            <MaxIndex>3</MaxIndex>
	
        </rollingPolicy>
	
    </appender>
    -->
    
    <root>
        <level value="WARN" />          
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
    </root> 
    
    <logger name="uber.megashare" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
	
   </logger>

 <logger name="org.springframework.orm.jpa" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
   </logger>

 <logger name="org.springframework.transaction" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
   </logger>



  
    
    
    
</configuration>