<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : logback.xml
    Created on : 4 Февраль 2011 г., 1:03
    Author     : alex
    Description:
        Purpose of the document follows.
-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="uber" level="DEBUG"/>
  
  <logger name="org.apache.jasper.compiler" level="DEBUG"/>

  
  <root level="off">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
