@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background:url(../images/christmas-background.jpg);
	background-size:100%;
}



#message
{
	width: 100%;
	height: auto;
	background:transparent url('../images/textBackground.png') repeat-x center;
	color: #FFF;
	font-size: 30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align: center;
	padding: 20px 10px;
	-webkit-box-sizing: border-box;
	-webkit-background-size: 100% 100%;
	z-index: 1;
}

p {
  margin: 15px;
  text-shadow:1px 1px #000;
}


#header {
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	height: 300px;
	text-align: center;
	margin-top:20px;
}

h1 {
	font-size:24px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
}

h2 {
	font-size:16px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
}


h3 {
	font-size:13px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px #000;
}



a
{
  color: #FF0;
  text-decoration: none;
}

.clear {
	 clear:both;	
}
